@use "../utils/variables" as *;
@use "../utils/functions" as *;
@use "../utils/mixins" as *;

@mixin grid($cols, $gap: $grid-gutter, $max-width: $grid-max-width) {
  display: grid;
  gap: $gap;
  max-width: $max-width;
  margin: 0 auto;
  grid-template-columns: repeat($cols, 1fr);

  @include respond(tab-land) {
    grid-template-columns: 1fr;
  }
}

.col {
  border-radius: 0.5rem;
  margin-bottom: 4rem;
  display: flex;

  @include respond(tab-land) {
    justify-content: center;
  }
}

.col--c {
  @extend .col;
  flex-direction: column;
}

.col--padded {
  @extend .col;
  padding: calc($grid-gutter / 2);

  @include respond(tab-port) {
    &:not(:first-child) {
      margin-top: -20rem;
    }
  }
}

.col--span-2 {
  @extend .col;
  grid-column: span 2;
}
