@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.btn {
  &,
  &:link,
  &:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    border-radius: 5rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    position: relative;
    font-size: $default-font-size;

    //change for button el
    border: none;
    cursor: pointer;

    @include transition-ns;
  }

  &:hover {
    transform: translateY(-0.5rem);

    @include box-shadow--black-0(1rem, 2rem, 1rem);

    &::after {
      transform: scale(1.1);

      @include box-shadow--black-0(1rem, 2rem, 1rem);
    }
  }

  &:active,
  &:focus {
    transform: translateY(-0.2rem);

    @include box-shadow--black-0(0.5rem, 1rem);
  }

  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5rem;
    z-index: -1;

    @include transition-ns;
  }

  &--white {
    @extend .btn;
    background-color: $white;
    color: $gray-7;

    &::after {
      background-color: $white;
    }
  }

  &--green {
    @extend .btn;
    background-color: $light-green;
    color: $white;

    &::after {
      background-color: $light-green;
    }
  }

  &--animated {
    @extend .btn;
    animation: moveInBottom 1s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}

.btn-text {
  &,
  &:link,
  &:visited {
    display: inline-block;
    color: $light-green;
    text-decoration: none;
    border-bottom: 1px solid $light-green;
    padding: 0.3rem;
    font-size: $default-font-size;
    letter-spacing: 0.2rem;
    align-self: start;
    background-color: transparent;

    @include transition-ns;
  }

  &:hover {
    color: $white;
    transform: translateY(-0.2rem);

    @include box-shadow--black-0(1rem, 2rem);

    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $light-green;
      z-index: -1;
      transform: scale(1.1);
    }
  }

  &:active {
    color: $dark-green;
    transform: translateY(0);

    @include box-shadow--black-0(0.5rem, 1rem);
  }
}
