@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.feature-box {
  background-color: rgba($white, 0.7);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 0.3rem;

  @include box-shadow--black-0(1.5rem, 4rem);
  @include transition-ns;

  @include respond(tab-port) {
    padding: 2rem;
  }

  &:hover {
    transform: translateY(-1rem) scale(1.05);
    @include box-shadow--black-0(2rem, 6rem);
  }

  .icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    background-image: linear-gradient(to right, $light-green, $dark-green);
    background-clip: text;
    color: transparent;

    @include respond(tab-port) {
      margin-bottom: 0;
    }
  }

  .text {
    font-size: $default-font-size;
    color: $gray-7;
    line-height: 1.5;
    margin-bottom: 1rem;
  }
}
