@use "../utils/variables" as *;
@use "../utils/functions" as *;
@use "../utils/mixins" as *;

.header {
  height: 95vh;
  background-image: rb-linear-gradient($light-green, $dark-green, 0.8, 0.8),
    url("../../assets/img/hero-small.jpg");
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;

  @include respond(phone) {
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }

  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    only screen and (min-width: 125em) {
    background-image: rb-linear-gradient($light-green, $dark-green, 0.8, 0.8),
      url("../../assets/img/hero.jpg");
  }

  .logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;

    .logo {
      height: 3.5rem;
    }
  }

  .text-box {
    text-align: center;

    @include abs-center($top: 40%);
  }
}
