@use "../utils/variables" as *;
@use "../utils/functions" as *;
@use "../utils/mixins" as *;

.story {
  max-width: 100%;
  width: 75%;
  margin: 0 auto;
  box-shadow: box-shadow-with-opacity(3rem, 6rem, 0.1);
  background-color: rgba($white, 0.6);
  border-radius: 0.3rem;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;
  transform: skewX(-10deg);

  @include respond(tab-port) {
    padding: 4rem;
    padding-left: 7rem;
    transform: skewX(0);
  }

  .shape {
    width: 15rem;
    height: 15rem;
    float: left;
    background-color: $gray-2;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(10deg);
    position: relative;

    @include respond(tab-port) {
      transform: skewX(0);
      right: 2rem;
      margin: 0.5rem;
    }
  }

  .img {
    height: 100%;
    backface-visibility: hidden;

    @include transition-ns;

    &--1 {
      transform: translateX(-3.2rem) scale(1.5); //img specific change if pic changes
    }

    &--2 {
      transform: translateX(-3.2rem) scale(1.5); //img specific change if pic changes
    }
  }

  .text {
    line-height: 1.8;
    color: $gray-7;
    transform: skewX(10deg);

    @include respond(tab-port) {
      transform: skewX(0);
    }

    p {
      margin-bottom: 2rem;
    }

    h3 {
      .icon-container {
        display: inline-block;
        margin-left: 1rem;

        .icon {
          font-size: 1.6rem;
          margin: 0 0.2rem;
          display: inline-block;
          background-image: linear-gradient(
            to right,
            $light-green,
            $dark-green
          );
          background-clip: text;
          color: transparent;

          @include respond(tab-port) {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .caption {
    color: $white;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    backface-visibility: hidden;

    @include transition-ns;
    @include abs-center;
  }

  &:hover .caption {
    opacity: 1;
  }

  &:hover .img {
    filter: blur(0.3rem) brightness(0.8);

    &--1 {
      transform: translateX(-3.2rem) scale(1.25); //img specific change if pic changes
    }

    &--2 {
      transform: translateX(-3.2rem) scale(1.25); //img specific change if pic changes
    }
  }
}

.swiper {
  &-slide {
    display: flex;
    align-items: stretch; // or center, if that's your design
    height: auto;
  }
}

.testimonial-slider {
  overflow: hidden;

  & .swiper-pagination {
    bottom: 0;
    text-align: center;
  }
}

.swiper-pagination-bullet {
  width: 1rem;
  height: 1rem;
  background-color: $gray-7;
  opacity: 1;
  margin: 0 0.5rem;

  @include transition-ns;

  &:hover,
  &.swiper-pagination-bullet-active {
    background-color: $light-green;
  }
}
