@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.btn {
  &,
  &:link,
  &:visited {
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    // position: relative;
    font-size: $default-font-size;
    background-color: $gray-9;
    color: $gray-1;

    //in case link as child
    a {
      color: $gray-1;
      text-decoration: none;
    }

    //change for button el
    border: none;
    cursor: pointer;

    @include transition-ns;
  }

  &:hover {
    transform: translateY(-0.2rem);

    @include box-shadow--black-0(0.5rem, 1rem);

    &::after {
      transform: scale(1.05);

      @include box-shadow--black-0(0.5rem, 1rem);
    }
  }

  &:active,
  &:focus {
    transform: translateY(-0.2rem);

    @include box-shadow--black-0(0.5rem, 1rem);
  }

  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: $gray-9;

    @include transition-ns;
  }

  &--white {
    @extend .btn;
    background-color: $white;
    color: $gray-9;
    border: 1px solid $gray-4;

    a {
      color: $gray-9;
    }

    &::after {
      background-color: $white;
    }
  }

  &--green {
    @extend .btn;
    background-color: red;
    color: $white;

    &::after {
      background-color: $gray-5;
    }
  }

  &--animated {
    @extend .btn;
    animation: moveInBottom 1s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}

.btn-text {
  &,
  &:link,
  &:visited {
    display: inline-block;
    text-decoration: none;

    //change for button el
    border: none;
    cursor: pointer;

    border-bottom: 1px solid $gray-9;
    padding: 0.3rem;
    font-size: $default-font-size;
    letter-spacing: 0.2rem;
    align-self: start;
    background-color: transparent;
    color: $gray-9;

    @include transition-ns;

    a {
      color: $gray-9;
      text-decoration: none;
    }
  }

  &:hover {
    transform: translateY(-0.2rem);
    color: $gray-1;

    @include box-shadow--black-0(0.5rem, 1rem);

    a {
      color: $gray-1;
    }

    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $gray-9;
      z-index: -1;
      transform: scale(1.1);
    }
  }

  &:active {
    color: $gray-7;
    transform: translateY(0);

    @include box-shadow--black-0(0.5rem, 1rem);
  }
}
