@use "../utils/variables" as *;
@use "../utils/functions" as *;
@use "../utils/mixins" as *;

@use "../layout/flex" as *;

.header {
  height: 10vh;
  padding: 1rem 5rem;
  // margin-bottom: 10rem;
  // border-bottom: 1px solid $gray-6;

  @include flex-center(50rem);

  nav.nav {
    @include flex-center(5rem);
    align-self: flex-end;
    width: 75%;
  }

  .login {
    @include flex-center(4rem);
  }

  .logo-box {
    background-color: $gray-9;

    .logo {
      height: 3.5rem;
    }
  }
}
