@use "../utils/variables" as *;
@use "../utils/functions" as *;
@use "../utils/mixins" as *;

@use "../layout/flex" as *;

header.header {
  position: fixed;
  width: 100%;
  z-index: 50;
  border-bottom: 1px solid $gray-9;

  @include transition-ns(0.3s);

  .computer-menu {
    max-width: 72rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2.4rem;

    @include flex($jc: "space-between", $ai: "center");
  }

  .logo-box {
    cursor: pointer;

    @include flex-center(1.2rem);
  }

  nav.nav {
    @include flex-center(5rem);
    align-self: flex-end;
    width: 75%;
  }

  .login {
    @include flex-center(4rem);
  }

  .logo-box {
    background-color: $gray-9;

    .logo {
      height: 3.5rem;
    }
  }
}
