@use "../utils/variables" as *;
@use "../utils/functions" as *;
@use "../utils/mixins" as *;

.grid-2-cols {
  @include grid-n-cols(2);
}

.grid-3-cols {
  @include grid-n-cols(3);
}

.grid-4-cols {
  @include grid-n-cols(4);
}

.col {
  border-radius: 0.5rem;
  margin-bottom: 4rem;
  display: flex;

  @include respond(tab-land) {
    justify-content: center;
  }
}

.col--c {
  @extend .col;
  flex-direction: column;
}

.col--padded {
  @extend .col;
  padding: calc($grid-gutter / 2);

  @include respond(tab-port) {
    &:not(:first-child) {
      margin-top: -20rem;
    }
  }
}

.col--span-2 {
  @extend .col;
  grid-column: span 2;
}
