@use "../sass/main.scss";
@use "../sass/themes/themes" as *;
@use "../sass/utils/mixins" as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @include export-theme($theme-light);
  }

  .dark {
    @include export-theme($theme-dark);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
