@use "./variables" as *;
@use "./functions" as *;

@mixin box-shadow--black-0(
  $offset-y: $default-box-shadow-offset-y,
  $blur-radius: $default-box-shadow-blur-radius,
  $inset-size: 0
) {
  box-shadow: inset 0 0 $inset-size $gray-7,
    0 $offset-y calc($offset-y * 3) black-with-opacity();
}

@mixin transition-ns($secs: $default-transition-secs) {
  transition: all $secs ease-in-out;
}

@mixin abs-center($top: 50%, $left: 50%, $translateX: -50%, $translateY: -50%) {
  position: absolute;
  top: $top;
  left: $left;
  transform: translate($translateX, $translateY);
}

// media query manager
/*
0-600px: phone
600-900px: tablet portrait
900-1200px: tablet landscape
[1200-1800px]: desktop, where normal styles apply
1800px+: big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: base + typography > gen layout + grid > page layout > components

1em = 16px
*/
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }

  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}
