@use "../utils/mixins" as *;
@use "../utils/variables" as *;

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, relative em since 1em = 16px * 62.5% = 10px

  // order matters, if 2+ apply last in code overrides
  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12px, 12/16 = .75
  }

  @include respond(tab-land) {
    font-size: 56.25%; // 1rem = 9px, 9/16 = .5625
  }

  @include respond(tab-port) {
    font-size: 50%; // 1rem = 8px, 8/16 = .5
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0;
  }
}

::selection {
  background-color: $light-green;
  color: $white;
}
