@use "../utils/variables" as *;
@use "../utils/functions" as *;
@use "../utils/mixins" as *;

.section-about {
  background-color: $gray-1;
  padding: 25rem 0;
  margin-top: -20vh;

  @include respond(tab-land) {
    padding: 30rem 0 20rem;
  }
}

.section-features {
  padding: 20rem 0;
  background-image: rb-linear-gradient($light-green, $dark-green, 0.8, 0.8),
    url("/img/nat-4.jpg");
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -12rem;

  @include respond(tab-port) {
    padding: 10rem 0;
  }

  & > * {
    transform: skewY(7deg);
  }
}

.section-services {
  background-color: $gray-1;
  padding: 25rem 0 15rem 0;
  margin-top: -11rem;

  @include respond(tab-port) {
    padding: 20rem 0 10rem 0;
  }

  .btn--green {
    display: flex;
    justify-self: center;
  }
}

.section-stories {
  padding: 15rem 0;
  position: relative;

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.section-book {
  padding: 15rem 0;
  background-image: rb-linear-gradient($light-green, $dark-green, 0.8, 0.8);
  position: relative;

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.book {
  width: 100rem;
  background-image: linear-gradient(
      105deg,
      rgba($white, 0.9) 0%,
      rgba($white, 0.9) 50%,
      transparent 50%
    ),
    url("/img/nat-10.jpg");
  background-size: cover;
  border-radius: 0.3rem;
  box-shadow: box-shadow-with-opacity(1.5rem, 4rem, 0.15);

  @include respond(tab-land) {
    padding: 5rem;
    background-image: rb-linear-gradient($white, $white, 0.5, 1),
      url("/img/nat-10.jpg");
  }
}
